<h2> Checkout </h2>
<p id="notice"><%= notice %></p>

<% total = 0 %>

<table>
  <tr class="cart">
    <td>Name</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>Total price</td>
  </tr>

  <% @cart.each do | id, quantity | %>
    <% product = Product.find_by_id(id) %>
  <tr>
    <td><%= product.name %></td>
    <td><%= number_to_currency(product.price, :unit => "€") %></td>
    <td><%= quantity %> </td>
    <% subtotal = quantity * product.price %>
    <td><%=number_to_currency(subtotal, :unit => "€") %></td>
  </tr>
    <%total = total + subtotal%>
  <% end %>
  </table>
  <br>
  <% if total < 50 %>
  <%= "Shipping charges: €3.50"%>
  <% total= total + 3.50 %>
  <% else %>
  <%= "Free of shipping charges"%>
  <% end %>

  <br><br>
  <b>Total shopping cart: <%= number_to_currency(total, :unit => "€") %></b>
  <br><br>
<div class="form">
  <%= form_for(@order) do |f| %>
    <%= render "#{@order.current_step}_step", :f => f %><br>
    <%= f.submit "Continue" %>
<!-- <%= f.submit "Back", :name => "previous_button" unless @order.first_step? %>  <% end %> -->
</div>
