<p id="notice"><%= notice %></p>

<h3>Order id: <%= @order.id %></h3>

<h4> Ordered items: </h4>

<table>
  <b><th> Product </th>
  <th> Quantity </th>
  <th> Price </th></b>

<%= render @order.orderitems %>
</table>
<br>
<p> Shipping charges <%= format_shippingcharges(@order) %> </p>
<p><b> Total price <%= format_orderprice(@order) %> </b></p><br>
<p> Status: <%= @order.status %> </p>
<p> Comments: <%= @order.comments %></p>
<p> Payment method: <%= @order.paymentmethod %></p>
<p> Delivery address: <%= @order.deliveryaddress %></p>
