<p id="notice"><%= notice %></p>

<h3>Order id: <%= @order.id %></h3>

<h3> Ordered items: </h3>

<table>
  <b><tr> Product </tr>
  <tr> Quantity </tr></b>
<%= render @order.orderitems %>
</table>
<br>
<p> Shipping charges <%= @order.shippingcharges %> </p>
<p><b> Total price <%= @order.total_price %> </b></p><br>
<p> Status: <%= @order.status %> </p>
<p> Comments: <%= @order.comments %></p>
<p> Payment method: <%= @order.paymentmethod %></p>
